
body{
    background-color: gray;
    padding: 11px;
}
.card{
    background-color: lavenderblush;
    width: 305px;
    border-radius: 15px;
    align-items: center;
    margin: 4px;
    display: inline-block;
}
.image img {
    padding: 15px;
    margin: 0px 16px 32px 2px;
    width: 17em;
    border-radius:24px ;
    height: 12em;
    
}
.card h1{
    text-align: center;
    margin: -28px 18px 10px 18px;
    text-shadow: 5px 5px aquamarine;
}
.card p {
        margin: 0 18px 0 18px;
        text-align: justify;
    }
.button{
        text-align: center;
        margin: -13px 0 13px 0;
    }
.button button{
        padding: 13px 33px;
        font-size: 20px;
        background-color: rgba(129, 182, 225, 0.661);
        color: rgba(10, 142, 190, 0.985);
        margin-top: 22px;
        border-radius: 29px;
        border: none;
    }
.button button:hover{
        background-color: rgba(64, 151, 222, 0.661);
        color: rgba(90, 161, 187, 0.985);
        

    }